html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#pdf-viewer {
  display: block;
  border: none;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
/* TODO:- make these user-customisable */
.blink-goto {
  border: 3px #ffa500 solid;
  border-radius: 50%;
  animation: blinker 1s linear infinite;
  transform: translate(-25%, -25%);
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
